<!-- Search (static placeholder) -->
<section id="search" class="alt">
    <form method="get" action="#">
      <input type="text" name="query" id="query" placeholder="Search (coming soon)" />
    </form>
  </section>
  
  <!-- Menu -->
  <nav id="menu">
    <header class="major"><h2>Menu</h2></header>
    <ul>
      <li>
        <a href="{{ '/' | relative_url }}"
           class="{% if page.nav == 'home' %}active{% endif %}">About Me</a>
      </li>
  
      <!-- Modules -->
      <li>
        <a href="{{ '/modules/' | relative_url }}"
           class="{% if page.nav == 'modules' and page.url == '/modules/' %}active{% endif %}">
          Modules (Overview)
        </a>
      </li>
      <li>
        <a href="{{ '/modules/induction-computing/' | relative_url }}"
           class="{% if page.url contains '/modules/induction-computing/' %}active{% endif %}">
          Induction Computing
        </a>
      </li>
      <li>
        <a href="{{ '/modules/launching-into-computing/' | relative_url }}"
           class="{% if page.url contains '/modules/launching-into-computing/' %}active{% endif %}">
          Launching Into Computing
        </a>
      </li>
      <li>
        <a href="{{ '/modules/advanced-oop-design/' | relative_url }}"
           class="{% if page.url contains '/modules/advanced-oop-design/' %}active{% endif %}">
          Advanced Object Oriented Design &amp; Programming
        </a>
      </li>
      <li>
        <a href="{{ '/modules/network-security/' | relative_url }}"
           class="{% if page.url contains '/modules/network-security/' %}active{% endif %}">
          Network Security
        </a>
      </li>
    </ul>
  </nav>